.vscode/

node_modules/
.puppeteer_profile/
package-lock.json

history_*.json

venv/
tmp/

.env

*.url
*.lnk
WebSocket Server.exe

public/chara/voice.wav
public/chara/current.json
out.wav

credentials.json
token.json

__pycache__/
*.aivmx