body {
    margin: 0;
    background: transparent;
    overflow: hidden;
}

canvas {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    margin-top: 10vh;
    width: 100vw;
    height: 90vh;
}

body.audio_playing #png_container {
    animation-name: popping-and-rotating;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*
a = '';
for(let i=0; i<=100; i+=10){a+=(`
    ${i}% { transform: translateY(${(Math.sin(Math.PI*i/100)*-3).toFixed(6)}%);}`); }
a;
*/
@keyframes popping {
    0% {
        transform: translateY(0.000000%);
    }

    10% {
        transform: translateY(-0.927051%);
    }

    20% {
        transform: translateY(-1.763356%);
    }

    30% {
        transform: translateY(-2.427051%);
    }

    40% {
        transform: translateY(-2.853170%);
    }

    50% {
        transform: translateY(-3.000000%);
    }

    60% {
        transform: translateY(-2.853170%);
    }

    70% {
        transform: translateY(-2.427051%);
    }

    80% {
        transform: translateY(-1.763356%);
    }

    90% {
        transform: translateY(-0.927051%);
    }

    100% {
        transform: translateY(-0.000000%);
    }
}

/*
a = '';
for(let i=0; i<=100; i+=10){a+=(`
    ${i}% { transform: rotateY(${((Math.sin(Math.PI*i/100))*90).toFixed(6)}deg);}`); }
a;
*/
@keyframes rotating {
    0% {
        transform: rotateY(0.000000deg);
    }

    10% {
        transform: rotateY(27.811529deg);
    }

    20% {
        transform: rotateY(52.900673deg);
    }

    30% {
        transform: rotateY(72.811529deg);
    }

    40% {
        transform: rotateY(85.595086deg);
    }

    50% {
        transform: rotateY(90.000000deg);
    }

    60% {
        transform: rotateY(85.595086deg);
    }

    70% {
        transform: rotateY(72.811529deg);
    }

    80% {
        transform: rotateY(52.900673deg);
    }

    90% {
        transform: rotateY(27.811529deg);
    }

    100% {
        transform: rotateY(0.000000deg);
    }
}

/*
a = '';
loop = 6;
for(let i=0; i<=100; i+=100/10/loop){a+=(`
    ${i.toFixed(6)}% { transform: translateY(${
        (Math.max(0, Math.sin(Math.PI*(i*loop%100)/100)*1.2-0.2)*-3).toFixed(6)
    }%) scaleY(${
        (1+Math.min(0, Math.sin(Math.PI*(i*loop%100)/100)*1.2-0.2)*0.5).toFixed(6)
    }) scaleX(${
        (1-Math.min(0, Math.sin(Math.PI*(i*loop%100)/100)*1.2-0.2)*1.5).toFixed(6)
    }) rotateY(${
        ((1-Math.abs(1-Math.max(0, i*loop-100*(loop-2))%100/50))*90).toFixed(6)
    }deg);}`); }
a;
*/
@keyframes popping-and-rotating {
    0.000000% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    1.666667% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    3.333333% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    5.000000% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    6.666667% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    8.333333% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    10.000000% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    11.666667% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    13.333333% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    15.000000% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    16.666667% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    18.333333% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    20.000000% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    21.666667% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    23.333333% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    25.000000% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    26.666667% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    28.333333% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    30.000000% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    31.666667% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    33.333333% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    35.000000% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    36.666667% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    38.333333% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    40.000000% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    41.666667% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    43.333333% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    45.000000% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    46.666667% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    48.333333% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    50.000000% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    51.666667% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    53.333333% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    55.000000% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    56.666667% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    58.333333% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    60.000000% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    61.666667% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    63.333333% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    65.000000% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(0.000000deg);
    }

    66.666667% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    68.333333% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(18.000000deg);
    }

    70.000000% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(36.000000deg);
    }

    71.666667% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(54.000000deg);
    }

    73.333333% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(72.000000deg);
    }

    75.000000% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(90.000000deg);
    }

    76.666667% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(72.000000deg);
    }

    78.333333% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(54.000000deg);
    }

    80.000000% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(36.000000deg);
    }

    81.666667% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(18.000000deg);
    }

    83.333333% {
        transform: translateY(0.000000%) scaleY(0.900000) scaleX(1.300000) rotateY(0.000000deg);
    }

    85.000000% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(18.000000deg);
    }

    86.666667% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(36.000000deg);
    }

    88.333333% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(54.000000deg);
    }

    90.000000% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(72.000000deg);
    }

    91.666667% {
        transform: translateY(-3.000000%) scaleY(1.000000) scaleX(1.000000) rotateY(90.000000deg);
    }

    93.333333% {
        transform: translateY(-2.823803%) scaleY(1.000000) scaleX(1.000000) rotateY(72.000000deg);
    }

    95.000000% {
        transform: translateY(-2.312461%) scaleY(1.000000) scaleX(1.000000) rotateY(54.000000deg);
    }

    96.666667% {
        transform: translateY(-1.516027%) scaleY(1.000000) scaleX(1.000000) rotateY(36.000000deg);
    }

    98.333333% {
        transform: translateY(-0.512461%) scaleY(1.000000) scaleX(1.000000) rotateY(18.000000deg);
    }
}



body.debug #debug_console {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;

    color: red;
    font-family: monospace;
    font-size: 12px;
    padding: 10px;
}